<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
		<meta name="description" content="">
		<meta name="author" content="">
		<link rel="shortcut icon" href="#">
		<title>CIS*3210 Lab 1</title>

		<!-- Bootstrap core CSS -->
		<link href="/css/bootstrap.min.css" rel="stylesheet">

		<!-- Custom styles for this template -->
		<link href="/css/clippy.css" rel="stylesheet">
		<link href="/css/cover.css" rel="stylesheet">
	</head>
	<body class="text-center">
		<div class="cover-container d-flex w-100 h-100 p-3 mx-auto flex-column">
			<header class="masthead mb-auto">
				<div class="inner">
					<h3 class="masthead-brand">CIS*3210 Lab 1</h3>
					<nav class="nav nav-masthead justify-content-center">
						<a class="nav-link active" href="#">Home</a>
						<a class="nav-link" href="#">Features</a>
						<a class="nav-link" href="#">Contact</a>
					</nav>
				</div>
			</header>

			<main role="main" class="inner cover">
				<h1 class="cover-heading">CIS*3210 Lab 1</h1>
				<p class="lead">Click the button below to Get Artsy!</p>
				<p class="lead">
					<a href="#" id="artsy-button" class="btn btn-lg btn-info">GetArtsy</a>
					<a href="#" id="alert-button" class="btn btn-lg btn-info">Alert!</a>
				</p>
			</main>

			<footer class="mastfoot mt-auto">
				<div class="inner">
					<p>Ajai Gill 1015577</p>
				</div>
			</footer>
		</div>

		<script src="/js/jquery.min.js"></script>
		<script src="/js/bootstrap.min.js"></script>
		<script src="/js/clippy.min.js"></script>
		<script src="/js/init.js"></script>

	</body>
</html>
