<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
		<meta name="description" content="">
		<meta name="author" content="">
		<link rel="shortcut icon" href="#">
		<title>CIS*3210 Lab 10</title>

		<!-- Bootstrap core CSS -->
		<link href="/css/bootstrap.min.css" rel="stylesheet">

		<!-- Custom styles for this template -->
		<link href="/css/cover.css" rel="stylesheet">
	</head>
	<body class="text-center">
		<div class="d-flex w-100 h-100 p-3 mx-auto flex-column" style="max-width: 60em;">
			<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
			  <a class="navbar-brand" href="#">Lab 10</a>
			  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
			    <span class="navbar-toggler-icon"></span>
			  </button>

			  <div class="collapse navbar-collapse" id="navbarSupportedContent">
			    <ul class="navbar-nav mr-auto">
			      <li class="nav-item active">
			        <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
			      </li>
			      <li class="nav-item">
			        <a class="nav-link" href="/userDirectory">User Directory </a>
			      </li>
			    </ul>
			    <div class="form-inline my-2 my-lg-0">
						{% if not session['logged_in'] %}
			      <input id="username" class="form-control mr-sm-2" type="Username" placeholder="Username" aria-label="Username">
						<input id="password" class="form-control mr-sm-2" type="Password" placeholder="Password" aria-label="Password">
			      <button id="Login" class="btn btn-outline-success my-2 my-sm-0" type="button">Sign-Up/Login</button>
						{% else %}
						<div class="my-2 my-sm-0" style="padding-right:5px">Welcome {{ session['username'] }}!<span hidden id="user">{{ session['username'] }}</span></div>
						<button id="Logout" class="btn btn-outline-success my-2 my-sm-0" type="button">Logout</button>
						{% endif %}
			    </div>
			  </div>
			</nav>

			<main role="main" class="inner cover">
				<h1 class="cover-heading" style="padding-top: 10px;">CIS*3210 Lab 10</h1>
				<div>
					<p class="lead">Type a location to get restaurants and other businesses near that location listed!</p>
				</div>
				<br>
				<div class="card" style="height: 42rem;">
				  <div class="card-header blackText">
						<div class="form-inline">
							<input class="form-control mr-sm-2" type="search" aria-describedby="searchHelp" placeholder="Search Location" style="width: 26rem;" id="Location">
							<button class="btn btn-outline-success my-2 my-sm-0" type="button" id="GetBusinesses">Search</button>
							<label style="padding-left:20px;padding-right: 5px;" for="amount"># of results:</label>
							<select name="amount" id="amount">
								<option value="3">3</option>
								<option value="6">6</option>
						    <option value="9">9</option>
						    <option value="12">12</option>
						    <option value="15">15</option>
								<option value="18">18</option>
						    <option value="21">21</option>
						    <option value="24">24</option>
								<option value="27">27</option>
								<option value="30">30</option>
						  </select>
						</div>
						<small id="searchHelp" class="form-text text-muted text-left">Examples: "New York City", "NYC", "350 5th Ave, New York, NY 10118"</small>
				  </div>
				  <div class="card-body blackText overflow-auto">
						<div class="container" id="container">
						</div>
				  </div>
				</div>
				<div>
				</div>
			</main>

			<!-- Modal -->

			<div id="modalList">
				<div class="modal fade blackText" id="exampleModalLong" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
				  <div class="modal-dialog" role="document">
				    <div class="modal-content">
				      <div class="modal-header">
				        <h5 class="modal-title" id="modalTitle">Modal title</h5>
				        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
				          <span aria-hidden="true">&times;</span>
				        </button>
				      </div>
				      <div class="modal-body" id="modalBody">
				        SOME STUFF ABOUT THE BUSINESS
				      </div>
				      <div class="modal-footer">
				        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
				      </div>
				    </div>
				  </div>
				</div>
			</div>


			<div class="modal fade blackText bd-example-modal-sm" id="loginModal" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
			  <div class="modal-dialog modal-sm">
			    <div class="modal-content">
						<div class="modal-header">
							<h5 class="modal-title" id="modalTitle">Login Error</h5>
							<button type="button" class="close" data-dismiss="modal" aria-label="Close">
								<span aria-hidden="true">&times;</span>
							</button>
						</div>
						<div class="modal-body" id="loginResult">
						</div>
			    </div>
			  </div>
			</div>


			<footer class="mastfoot mt-auto">
				<div class="inner">
					<p>Ajai Gill 1015577</p>
				</div>
			</footer>
		</div>

		<script src="/js/jquery.min.js"></script>
		<script src="/js/bootstrap.min.js"></script>
		<script src="/js/init.js"></script>

	</body>
</html>
