<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
		<meta name="description" content="">
		<meta name="author" content="">
		<link rel="shortcut icon" href="#">
		<title>CIS*3210 Lab 1</title>

		<!-- Bootstrap core CSS -->
		<link href="/css/bootstrap.min.css" rel="stylesheet">

		<!-- Custom styles for this template -->
		<link href="/css/cover.css" rel="stylesheet">
		<link href="/css/clippy.css" rel="stylesheet">
		<link href="/css/custom.css" rel="stylesheet">
	</head>

	<body>

		<div class="site-wrapper">
			<div class="site-wrapper-inner">
				<div class="cover-container">

					<div class="inner cover">
						<h1 class="cover-heading">CIS*3210 Lab 1</h1>

						<p class="lead">Click the button below to Get Artsy!</p>

						<a href="#" id="artsy-button" class="btn btn-lg btn-info">GetArtsy</a>

						<a href="#" id="alert-button" class="btn btn-lg btn-info">Alert!</a>

					</div>
				</div>
			</div>
		</div>

		<footer class="container-fluid bg-dark text-white-50">
			<p class="text-center">
				Ajai Gill 1015577
			</p>
		</footer>



		<script src="/js/jquery.min.js"></script>
		<script src="/js/bootstrap.min.js"></script>
		<script src="/js/clippy.min.js"></script>
		<script src="/js/init.js"></script>
	</body>
</html>
